@import "normalize.css";
@import "../fonts/fonts.css";
@import "_grid.scss";

.font-lato {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-gotham-bold {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-gotham-book {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-gotham-book-italic {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

.font-gotham-medium-italic {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.font-gotham-medium {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.arrow-button {
  @extend .font-gotham-bold;
  line-height: 50px;
  color: white;
  background-color: #00aeef;
  position: relative;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
  &:after {
    content: "";
    position: absolute;
    right: -15px;
    top:0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent transparent transparent #00afef;
  }
}


header {
  position: relative;
  border-bottom: solid 10px #004376;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background-color: #b2d234;
  }
}

.welcome-section {
  text-align: center;
}

.cta-section {
  .header-cta {
    text-transform: uppercase;
    background: url("http://via.placeholder.com/350x150") no-repeat 100% 50%;
    background-size: 50px 50px;
  }
  //ul {
  //  list-style-type: ;
  //}
}

.advantages {
  .list-advantages {
    display: flex;
    justify-content: space-around;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 150px;
      border: solid 1px black;
      border-radius: 50%;
      text-align: center;
    }
  }
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-menu {
    li {
      display: inline-block;
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 450px) {

}