@import "normalize.css";
@import "../fonts/fonts.css";
@import "_grid.scss";

//.font-lato {
//  font-family: 'Lato', helvetica, sans-serif;
//  font-weight: normal;
//  font-style: normal;
//}
//
//.font-gotham-bold {
//  font-family: 'Gotham', helvetica, sans-serif;
//  font-weight: bold;
//  font-style: normal;
//}
//
//.font-gotham-book {
//  font-family: 'Gotham Book', helvetica, sans-serif;
//  font-weight: normal;
//  font-style: normal;
//}
//.font-gotham-book-italic {
//  font-family: 'Gotham Book', helvetica, sans-serif;
//  font-weight: normal;
//  font-style: italic;
//}
//
//.font-gotham-medium-italic {
//  font-family: 'Gotham', helvetica, sans-serif;
//  font-weight: 500;
//  font-style: italic;
//}
//
//.font-gotham-medium {
//  font-family: 'Gotham', helvetica, sans-serif;
//  font-weight: 500;
//  font-style: normal;
//
//}

body {
  padding: 0;
  margin: 0;
  font-family: 'Arial', helvetica, sans-serif;
  font-size: 18px;
}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.arrow-button {
  //@extend .font-gotham-bold;
  line-height: 50px;
  color: white;
  background-color: #00aeef;
  position: relative;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px;
  &:after {
    content: "";
    position: absolute;
    right: -15px;
    top:0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent transparent transparent #00afef;
  }
}

header {
  padding: 40px 0;
  position: relative;
  border-bottom: solid 7px #b2d235;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call-us {
    font-size: 25px;
    color: #005da4;
  }
  @media only screen and (max-width: 500px) {
    .main-logo img {
      width: 130px;
    }
    .call-us {
      font-size: 16px;
    }
  }
}



.welcome-banner {
  padding: 50px 0;
  background-color: #005da4;
  color: white;
  h1 {
    text-align: center;
    font-family: 'Gotham-Black',sans-serif;
    font-size: 76px;
    span {
      display: block;
      font-family: 'Gotham-Light',sans-serif;
      font-size: 83px;
      font-weight: 300;
    }
  }
}

.intro-block {
  padding: 55px 0;
  background:  linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9)), url(../img/myo-lines-bg.png) no-repeat 50% 50%;
  background-size: cover;
  h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 45px;
    color: #005da4;
    span {
      display: block;
    }
  }
  p {
    font-size: 30px;
    text-align: center;
  }
}



.cta-section, .advantages, .testimonials, .about-us {
  padding: 50px 0;
  @media only screen and (max-width: 768px) {
    padding: 25px 0;
  }
}




.welcome-section {
  text-align: center;
  padding: 40px 0 20px;
  font-family: 'Arial', helvetica, sans-serif;
  h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #2b4173;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.cta-section {
  font-family: 'Gotham', helvetica, sans-serif;
  color: #2b4173;
  background: url("../img/bg-smart.jpg") no-repeat 50% 50%;
  background-size: cover;
  line-height: 1.4;
  .header-cta {
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    background: url("../img/chalenge-bage.jpg") no-repeat 100% 0;
    background-size: 100px 100px;
    @media only screen and (max-width: 768px) {
      text-align: center;
      font-size: 25px;
      padding: 110px 0 0 0;
      background-position: 50% 0;
      //background: url("http://via.placeholder.com/350x150") no-repeat 50% 0;
      //background-size: 50px 50px;
    }
  }
  ol {
    padding-left: 20px;
    li {
      list-style: decimal;
    }

  }
  ol, p {
    margin-bottom: 20px;
  }
  .offer-price {
    font-weight: 800;
  }
  //ul {
  //  list-style-type: ;
  //}
}

.wrap-img {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.advantages {
  .list-advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 95px;
      height: 95px;
      border: solid 1px black;
      border-radius: 50%;
      text-align: center;
      margin: 0 10px 20px 10px;
      @media only screen and (max-width: 768px) {
        font-size: 11px;
        width: 80px;
        height: 80px;
        margin: 0 5px 10px 5px;

      }
    }
  }
  .list {
    padding-left: 20px;
    margin: 20px 0;
    li {
     &:before {
       content: "-";
       margin-right: 5px;
     }
    }

  }
}

blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  p {
    font-size: 28px;
    margin-bottom: 20px;
  }
  cite {
    text-align: right;
    display: block;
    font-style: normal;
  }
}

.testimonials {
  h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .wrap-img img {
    padding: 0 50px;
    width: 100%;
  }
}

.about-us {
  h2 {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
  }
  blockquote {
    cite {
      text-align: left;
    }
  }
}


footer {
  color: #afaaa8;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  .footer-menu {
    li {
      margin-left: 20px;
      display: inline-block;
      a {
        color: #afaaa8;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    .copyright {
      margin-bottom: 15px;
      text-align: center;
    }
    .footer-menu {
      li {
        text-align: center;
        display: block;
        margin-left: 0;
      }
    }

  }
}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 450px) {

}