@import "normalize.css";
@import "../fonts/fonts.css";
@import "_grid.scss";

.font-lato {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-gotham-bold {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-gotham-book {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-gotham-book-italic {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

.font-gotham-medium-italic {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.font-gotham-medium {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 450px) {

}